@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:wght@400,600&display=swap");

:root {
  --primary: #ff6138;
  --secondary: #79bd8f;
  --textWhite: #e6e6e6;
  --textBlack: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree";
  list-style: none;
  text-decoration: none;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Multiple styling */
i {
  cursor: pointer;
}

main {
  padding-top: 75px;
  width: 100%;
  flex: 1;
}

/* Navbar */

nav {
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.logo {
  width: 32px;
  cursor: pointer;
}

i.fa-bars,
i.fa-xmark {
  color: var(--textWhite);
  font-size: 22px;
}

i.fa-brands {
  color: var(--textWhite);
  font-size: 22px;
  cursor: pointer;
}

i.fa-xmark {
  display: none;
}

.menu {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75px;
  right: 0;
  width: 100%;
  height: calc(100vh - 75px);
  background-color: var(--primary);
}

.links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  margin-top: 35px;
}

.link a {
  color: var(--textWhite);
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--secondary);
}

/* Home */
.banner {
  position: relative;
  height: 300px;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-overlay {
  display: flex;
  align-items: end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    0deg,
    var(--secondary) 0%,
    rgba(121, 189, 143, 0) 100%
  );
}

.banner-overlay p {
  padding: 0 20px;
  font-weight: 800;
  font-size: 34px;
  color: var(--textWhite);
  margin-bottom: 15px;
}

.fa-angle-left {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--textWhite);
}

.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--textWhite);
}

.matches {
  background-color: var(--primary);
  width: 100%;
  height: 150px;
  margin-top: -5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--textWhite);
  padding: 0 20px;
}

.matches > h2 {
  font-size: 28px;
}

/* .upcoming-match {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-team,
.away-team {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vs {
  font-size: 24px;
  margin: 0 30px;
}

.team-logo {
  width: 50px;
  margin-bottom: 10px;
}

.team-name {
  font-size: 20px;
  padding-bottom: 20px;
} */

.gallery {
  width: 100%;
  height: fit-content;
}

.gallery h2 {
  text-align: center;
  padding: 15px 0;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 15px;
}

.images img {
  width: 30%;
}

.images img:not(:last-child) {
  margin-right: 15px;
}

.see-more {
  text-align: right;
  padding: 0 20px;
  color: var(--primary);
}

.see-more:hover {
  text-decoration: underline;
}

/* About Page */
#about,
#team,
#fixtures,
#results,
#contact {
  padding-left: 20px;
  padding-right: 20px;
}

#about section {
  margin-top: 20px;
}

#about section h2 {
  margin-bottom: 10px;
  font-size: 32px;
  color: var(--secondary);
}

#about section:nth-child(2) p {
  margin-bottom: 5px;
}

/* Team */
#team > h2 {
  padding: 20px 0;
  font-size: 45px;
  color: var(--primary);
}

.players-container {
  margin-bottom: 30px;
}

.players-container h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--secondary);
}

.position {
  display: flex;
  flex-wrap: wrap;
}

.player {
  max-width: 200px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.player:not(:last-child) {
  margin-right: 20px;
}

.player img {
  width: 100%;
}

.player .player-info {
  padding: 10px;
}

.player-info .player-num {
  font-size: 19px;
  color: var(--primary);
  margin-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.player-info .player-name {
  font-size: 19px;
}

.player:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--textWhite);
  transform: scale(1.025);
}

.player:hover .player-num {
  color: var(--textWhite);
  text-decoration-color: var(--textWhite);
}

/* Matches */
.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* max-width: 150px; */
  padding: 10px;
  margin: 30px 0;
  background-color: var(--primary);
}

.tabs > div {
  width: 2px;
  height: 20px;
  margin-right: 20px;
  background-color: var(--textWhite);
}

.tab {
  color: var(--textWhite);
  font-weight: 700;
}

.tab:not(:last-child) {
  margin-right: 20px;
}

.tab:hover {
  cursor: pointer;
  /* color: var(--secondary); */
}

.tab.active {
  /* background-color: var(--secondary); */
  border-bottom: 2px solid var(--secondary);
}

.container {
  display: flex;
  flex-direction: column;
  /* padding: 0 20px; */
}

.upcoming-match,
.match {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.match {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.match:first-child {
  border-top: 1px solid black;
}

.match-date {
  margin-bottom: 10px;
  font-weight: 700;
}

.teams {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team img {
  margin: 0 20px;
  width: 32px;
}

.team_name {
  font-size: 14px;
  font-weight: 700;
}

.team .right {
  text-align: right;
}

.match-time {
  width: 40px;
  word-wrap: break-word;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

/* Contact */
.heading {
  padding-top: 20px;
  font-size: 45px;
  font-weight: 800;
}

.contact-info {
  margin-top: 10px;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info {
  font-size: 18px;
}

#contact-form {
  background-color: var(--primary);
  padding: 10px 20px;
  color: var(--textWhite);
  margin: auto;
  max-width: 500px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-field,
.text-field {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: calc(100% / 2 - 13px);
}

.input-field input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 1px solid var(--primary);
}

.text-field textarea {
  outline: none;
  border: 1px solid var(--primary);
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  height: 100px;
}

.text-field textarea::-webkit-scrollbar {
  width: 8px;
}

.text-field textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.text-field textarea::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

#submit {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: all 0.2s ease;
}

#submit:hover {
  background-color: var(--secondary);
  color: var(--textWhite);
}

/* Footer */
footer {
  background-color: var(--primary);
  margin-top: 15px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

footer .left,
footer .right {
  padding: 20px 0;
}

.footer-logo {
  width: 100px;
  cursor: pointer;
}

.footer-links {
  padding-top: 20px;
  color: var(--textWhite);
}

.footer-links a {
  color: var(--textWhite);
}

.footer-links li:not(:last-child) {
  margin-bottom: 5px;
}

.social i:not(:last-child) {
  margin-right: 15px;
}

.copyright {
  background-color: var(--secondary);
  height: 30px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* Navbar */
  i.fa-bars,
  i.fa-xmark {
    display: none;
  }

  nav {
    padding: 0 50px;
  }

  .menu {
    display: flex;
    position: unset;
    width: unset;
    height: unset;
  }

  .links {
    flex-direction: row;
  }

  .link {
    margin-top: 0;
  }

  .link a {
    padding: 28px 10px;
    transition: all 0.3s ease;
  }

  .link:not(:last-child) {
    margin-right: 15px;
  }

  .link a:hover {
    color: var(--textWhite);
    background-color: var(--secondary);
  }

  .link a.active {
    color: var(--textWhite);
    background-color: var(--secondary);
  }

  /* Home */
  .banner,
  .banner-overlay {
    height: 500px;
  }

  .banner-overlay p {
    padding: 0 50px;
    font-size: 54px;
  }

  .fa-angle-left {
    left: 50px;
  }

  .fa-angle-right {
    right: 50px;
  }

  .images {
    padding: 0 50px;
  }

  /* About Page */
  #about,
  #team,
  #fixtures,
  #results,
  #contact {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* Footer */
  footer {
    padding: 0 50px;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  /* Navbar */
  nav {
    padding: 0 100px;
  }

  /* Home */
  .banner,
  .banner-overlay {
    height: 650px;
  }

  .banner-overlay p {
    padding: 0 100px;
    font-size: 78px;
  }

  .fa-angle-left {
    left: 100px;
  }

  .fa-angle-right {
    right: 100px;
  }

  .matches {
    height: 300px;
  }

  .matches h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .team-logo {
    width: 70px;
    margin: 10px 0;
  }

  .team-name {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .images {
    padding: 0 100px;
  }

  /* About Page */
  #about,
  #team,
  #fixtures,
  #results,
  #contact {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* Footer */
  footer {
    padding: 0 100px;
  }
}
