@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:wght@400,600&display=swap");

:root {
  --primary: #ff6138;
  --secondary: #79bd8f;
  --textWhite: #e6e6e6;
  --textBlack: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree";
  list-style: none;
  text-decoration: none;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main";
  grid-template-columns: 50px 1fr 1fr;
}

nav,
#sidebar {
  position: fixed;
}

main {
  margin-top: 64px;
}

/* Navbar */
nav {
  width: 100%;
  grid-area: header;
  background-color: var(--primary);
  padding: 10px 20px;
  top: 0;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 40px;
}

.logo-container p {
  font-size: 32px;
  color: var(--textWhite);
  margin-left: 10px;
}

#sidebar {
  grid-area: sidebar;
  width: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  top: 64px;
  left: 0;
}

.link {
  width: 50px;
}

.link a {
  display: flex;
  font-size: 22px;
  padding: 20px 15px;
  color: var(--textWhite);
  transition: all 0.3s ease;
  /* width: 100%; */
  /* background-color: red; */
}

.link a:hover {
  background-color: var(--secondary);
  color: var(--textBlack);
}

.link a p {
  display: none;
}

/* Dashboard */
main {
  grid-area: main;
}

#dashboard > h2 {
  padding: 10px;
  font-size: 42px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  /* background-color: red; */
}

.upcoming-match,
.past-match {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.past-match {
  margin-top: 20px;
}

.match-date {
  margin-bottom: 10px;
  font-weight: 700;
}

.match-time {
  width: 40px;
  word-wrap: break-word;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.score {
  font-weight: 700;
}

.match-time {
  margin-left: 20px;
  margin-right: 20px;
}

.scores {
  margin-left: 10px;
  margin-right: 10px;
}

.teams {
  display: flex;
  align-items: center;
}

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team_logo {
  margin: 0 20px;
  width: 32px;
}

.team_name {
  font-size: 14px;
  font-weight: 700;
}

.games-overview {
  background-color: var(--secondary);
  padding: 10px;
  margin-top: 10px;
}

.top-scorer,
.top-offenders {
  background-color: var(--secondary);
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.top-scorer h2,
.top-offenders h2 {
  margin-bottom: 10px;
}

.goal-scorer,
.offender {
  display: flex;
  align-items: center;
}

.goal-scorer > div,
.offender > div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goal-scorer:not(:last-child),
.offender:not(:last-child) {
  margin-bottom: 10px;
}

.goal-scorer img,
.offender img {
  width: 32px;
}

/* Squad */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
}

.header .left h2 {
  font-size: 42px;
}

.header .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  position: relative;
  width: 200px;
}

.search-bar input {
  padding: 5px;
  width: 100%;
}

.search-bar i {
  position: absolute;
  right: 1px;
  top: 50%;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  transform: translateY(-50%);
}

.btn {
  margin-left: 20px;
  padding: 5px;
  color: var(--textWhite);
  background-color: var(--primary);
  cursor: pointer;
}

#squad .main-content {
  overflow-y: scroll;
}

#squad .main-content::-webkit-scrollbar {
  height: 6px;
}

#squad .main-content table {
  border-spacing: 20px 5px;
}

#squad .main-content table thead {
  text-align: left;
}

#squad .main-content table tbody {
  text-align: center;
}

.edit {
  background-color: var(--secondary);
}
.edit a {
  color: var(--textBlack);
}

.delete {
  background-color: red;
  cursor: pointer;
}

/* Matches */
#matches .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.fixtures,
.results {
  flex: 0.49;
  text-align: center;
}

.fixtures h2,
.results h2 {
  margin-bottom: 20px;
}

.fixtures .match,
.results .match {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.fixtures .match:not(:last-child),
.results .match:not(:last-child) {
  margin-bottom: 20px;
}

.fixtures .teams,
.results .teams {
  margin-bottom: 20px;
}

.btns {
  padding-bottom: 20px;
}

/* Settings */
#settings h2 {
  font-size: 42px;
}

#settings .main-content {
  margin-top: 20px;
  padding: 20px;
}

.username,
.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--textBlack);
  padding: 10px;
}

.password {
  border-bottom: 1px solid var(--textBlack);
}

.username p,
.password p {
  font-size: 18px;
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  #dashboard .container {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "upmatch pmatch"
      "gover topscorer"
      ". topscorer";
    gap: 10px;
  }

  .upcoming-match {
    grid-area: upmatch;
  }
  .past-match {
    grid-area: pmatch;
    margin-top: unset;
  }
  .games-overview {
    grid-area: gover;
    margin-top: unset;
  }
  .top-scorer {
    grid-area: topscorer;
    margin-top: unset;
  }

  .upcoming-match,
  .past-match,
  .games-overview,
  .top-scorer {
    padding: 20px 30px;
  }

  #squad .main-content table {
    border-spacing: 40px 15px;
  }

  #matches .main-content {
    flex-direction: row;
    align-items: start;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {
  body {
    grid-template-columns: 300px 1fr 1fr;
  }

  #sidebar {
    width: 300px;
  }

  .link {
    width: 300px;
  }

  .link a {
    display: flex;
    align-items: center;
    padding-left: 30px;
    /* background-color: red; */
  }

  .link a p {
    margin-left: 20px;
    display: block;
  }
}
