@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:wght@400,600&display=swap");

:root {
  --primary: #ff6138;
  --secondary: #79bd8f;
  --textWhite: #e6e6e6;
  --textBlack: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree";
  list-style: none;
  text-decoration: none;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

#body {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main";
  grid-template-columns: 50px 1fr 1fr;
}

nav,
#sidebar {
  position: fixed;
  z-index: 13;
}

main {
  margin-top: 64px;
}

i {
  cursor: pointer;
}

/* Navbar */
nav {
  width: 100%;
  grid-area: header;
  background-color: var(--primary);
  padding: 10px 20px;
  top: 0;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 40px;
}

.logo-container p {
  font-size: 32px;
  color: var(--textWhite);
  margin-left: 10px;
}

#sidebar {
  grid-area: sidebar;
  width: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  top: 64px;
  left: 0;
}

.link {
  width: 50px;
}

.link a {
  display: flex;
  font-size: 22px;
  padding: 20px 15px;
  color: var(--textWhite);
  transition: all 0.3s ease;
}

.link a:hover {
  background-color: var(--secondary);
  color: var(--textBlack);
}

.link a p {
  display: none;
}

/* Login */
.login-content > .vector {
  display: none;
}

.login-form {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.login-form h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

.error-message,
.password-error-message {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.login-form .fields {
  position: relative;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  outline: none;
}

.login-form input:focus {
  border: 2px solid var(--primary);
}

.login-form input[type="submit"] {
  padding: unset;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  transition: all 0.3s ease;
}

.login-form input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--textWhite);
  border: 1px solid var(--primary);
}

.fields i {
  padding: 10px;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
}

/* Dashboard */
main {
  grid-area: main;
}

#dashboard > h2 {
  padding: 10px;
  font-size: 42px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.upcoming-match,
.past-match {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.past-match {
  margin-top: 20px;
}

.match-date {
  margin-bottom: 10px;
  font-weight: 700;
}

.match-time {
  width: 40px;
  word-wrap: break-word;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.score {
  font-weight: 700;
}

.match-time {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
}

.scores {
  margin-left: 10px;
  margin-right: 10px;
}

.teams {
  display: flex;
  align-items: center;
}

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team_logo {
  margin: 0 20px;
  width: 32px;
}

.team_name {
  font-size: 14px;
  font-weight: 700;
}

.games-overview {
  background-color: var(--secondary);
  padding: 10px;
  margin-top: 10px;
}

.top-scorer,
.top-offenders {
  background-color: var(--secondary);
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.top-scorer h2,
.top-offenders h2 {
  margin-bottom: 10px;
}

.goal-scorer,
.offender {
  display: flex;
  align-items: center;
}

.goal-scorer > div,
.offender > div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goal-scorer:not(:last-child),
.offender:not(:last-child) {
  margin-bottom: 10px;
}

.goal-scorer img,
.offender img {
  width: 32px;
}

/* Squad */
#squad,
#matches {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
}

.header .left h2 {
  font-size: 42px;
}

.header .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-bar {
  position: relative;
  /* width: 200px; */
}

.search-bar.search {
  width: 70%;
  /* background-color: red; */
  /* display: unset; */
  position: absolute;
  left: 5px;
  z-index: 0.4;
}

.search-bar input {
  padding: 5px;
  width: 100%;
  outline: none;
  border: 2px solid var(--textBlack);
  display: none;
}

.search-bar input:focus {
  border: 2px solid var(--secondary);
}

.search-bar input.show {
  display: unset;
  padding: 15px;
}

.search-bar i {
  position: absolute;
  right: 2px;
  top: 50%;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  transform: translateY(-50%);
}

.search-bar i.hide {
  display: none;
}

.close-search {
  display: none;
}

.close-search.show {
  display: unset;
}

.btn {
  margin-left: 20px;
  padding: 5px;
  color: var(--textWhite);
  background-color: var(--primary);
  cursor: pointer;
}

#squad .main-content {
  overflow-y: scroll;
}

#squad .main-content::-webkit-scrollbar {
  height: 6px;
}

#squad .main-content table {
  border-spacing: 20px 5px;
}

#squad .main-content table thead {
  text-align: left;
}

#squad .main-content table tbody {
  text-align: center;
}

#squad .main-content table tbody .name-cell {
  text-align: left;
}

.edit {
  background-color: var(--secondary);
}
.edit a {
  color: var(--textBlack);
}

.delete {
  background-color: red;
  cursor: pointer;
}

/* Edit player form */
.edit-player-container,
.add-player-container,
.add-match-container,
.edit-fixture-container,
.update-fixture-container,
.update-results-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.edit-player-container .overlay,
.add-player-container .overlay,
.add-match-container .overlay,
.edit-fixture-container .overlay,
.update-fixture-container .overlay,
.update-results-container .overlay {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 0.5;
  position: relative;
}

#edit-player-form,
#add-player-form,
#add-match-form,
#edit-fixture-form,
#update-fixture-form,
#update-results-form {
  background-color: white;
  width: 70%;
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0.6;
}

#edit-player-form header,
#add-player-form header,
#add-match-form header,
#edit-fixture-form header,
#update-fixture-form header,
#update-results-form header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

#edit-player-form .edit-player-error-message,
#add-player-form .add-player-error-message,
#add-match-form .add-match-error-message,
#edit-fixture-form .edit-fixture-error-message,
#update-fixture-form .update-fixture-error-message,
#update-results-form .update-results-error-message {
  text-align: center;
  font-size: 18px;
  color: red;
  margin-bottom: 20px;
}

.edit-fields,
.add-fields {
  display: flex;
  flex-direction: column;
}

.edit-fields label,
.add-fields label {
  margin-bottom: 5px;
}

.edit-fields input,
.edit-fields select,
.add-fields input,
.add-fields select {
  padding: 10px;
  outline: none;
  border: 1px solid var(--textBlack);
  margin-bottom: 10px;
}

.edit-fields input:focus,
.edit-fields select:focus,
.add-fields input:focus,
.add-fields select:focus {
  border: 1px solid var(--secondary);
}

.edit-fields select,
.add-fields select {
  cursor: pointer;
}

#edit-player-form input[type="submit"],
#add-player-form input[type="submit"],
#add-match-form input[type="submit"],
#edit-fixture-form input[type="submit"],
#update-fixture-form input[type="submit"],
#update-results-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--textBlack);
  transition: all 0.2s ease;
}

#edit-player-form input[type="submit"]:hover,
#add-player-form input[type="submit"]:hover,
#add-match-form input[type="submit"]:hover,
#edit-fixture-form input[type="submit"]:hover,
#update-fixture-form input[type="submit"]:hover,
#update-results-form input[type="submit"]:hover {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
}

/* Confirm Delete Player */
.confirm-delete-player,
.confirm-delete-matches {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.confirm-delete-player .overlay,
.confirm-delete-matches .overlay {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: black;
  opacity: 0.3;
  z-index: 1;
  position: relative;
}

.confirm-delete-player .confirm-delete,
.confirm-delete-matches .confirm-delete {
  background-color: white;
  width: 300px;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 30px 20px;
}

.confirm-delete header {
  margin-bottom: 20px;
}

.confirm-delete-player .confirm,
.confirm-delete-matches .confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm .yes {
  border: 2px solid red;
  background-color: red;
  color: var(--textWhite);
  width: 49%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.confirm .no {
  width: 49%;
  padding: 10px;
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--textWhite);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

/* Matches */
#matches .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.fixtures,
.results {
  flex: 0.49;
  text-align: center;
}

.fixtures h2,
.results h2 {
  margin-bottom: 20px;
}

.fixtures .match,
.results .match {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.fixtures .match:not(:last-child),
.results .match:not(:last-child) {
  margin-bottom: 20px;
}

.fixtures .teams,
.results .teams {
  margin-bottom: 20px;
}

.btns {
  padding-bottom: 20px;
}

.add-fields #current-home-team-logo,
.add-fields #current-away-team-logo {
  margin: 10px 0;
}

/* Settings */
#settings {
  position: relative;
}

#settings h2 {
  font-size: 42px;
}

#settings .main-content {
  margin-top: 20px;
  padding: 20px;
  z-index: -1;
}

.username,
.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--textBlack);
  padding: 10px;
  z-index: -3;
}

.password {
  border-bottom: 1px solid var(--textBlack);
}

.username p,
.password p {
  font-size: 18px;
}

#settings .change-username,
#settings .change-password {
  width: 100%;
  height: 100%;
  margin: auto;
}

#settings .change-username {
  display: none;
}

#settings .change-password {
  display: none;
}

#settings .overlay {
  width: 100%;
  height: 90vh;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
  position: relative;
}

#settings .change {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.change form header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.change form {
  background-color: white;
  width: 300px;
  padding: 15px 20px;
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.change div {
  display: flex;
  flex-direction: column;
}

.change input {
  padding: 10px;
  outline: none;
  border: 1px solid var(--textBlack);
}

.change input:focus {
  border: 1px solid var(--secondary);
}

.change input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  width: 100%;
}

.change input[type="submit"]:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

.change-password .password-fields {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.password-fields i {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

@media only screen and (min-width: 490px) {
  .search-bar.search {
    width: unset;
    position: unset;
    z-index: 0.4;
  }

  .search-bar input {
    border: 1px solid var(--textBlack);
    display: unset;
    padding: 10px;
  }

  .search-bar input:focus {
    border: 1px solid var(--secondary);
  }
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  #dashboard .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "upmatch pmatch"
      "gover topscorer"
      ". topscorer";
    gap: 10px;
  }

  .upcoming-match {
    grid-area: upmatch;
  }
  .past-match {
    grid-area: pmatch;
    margin-top: unset;
  }
  .games-overview {
    grid-area: gover;
    margin-top: unset;
  }
  .top-scorer {
    grid-area: topscorer;
    margin-top: unset;
  }

  .upcoming-match,
  .past-match,
  .games-overview,
  .top-scorer {
    padding: 20px 30px;
  }

  /* Squad Page */
  .search-bar {
    width: 300px;
  }

  #squad .main-content table {
    border-spacing: 40px 15px;
  }

  /* Edit player container */
  #edit-player-form,
  #add-player-form {
    top: 100px;
  }

  #edit-player-form .edit-inputs,
  #add-player-form .add-inputs {
    display: grid;
    grid-template-areas:
      "name name"
      "age category"
      "position number"
      "goals assists";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    align-items: center;
  }

  .add-player-container .overlay {
    height: calc(100vh - 68px);
  }

  .player-name {
    grid-area: name;
  }

  .player-age {
    grid-area: age;
  }

  .player-category {
    grid-area: category;
  }

  .player-position {
    grid-area: position;
  }

  .player-number {
    grid-area: number;
  }

  .player-goals {
    grid-area: goals;
  }

  .player-assists {
    grid-area: assists;
  }

  /* Matches page */
  #matches .main-content {
    flex-direction: row;
    align-items: start;
  }

  #add-match-form {
    top: 100px;
  }

  #add-match-form .add-inputs,
  #edit-fixture-form .add-inputs {
    display: grid;
    grid-template-areas:
      "h-name a-name"
      "h-logo a-logo"
      "m-date m-time";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    align-items: center;
  }

  #add-match-form input,
  #edit-fixture-form input {
    width: 100%;
  }

  .home-team-name {
    grid-area: h-name;
  }

  .away-team-name {
    grid-area: a-name;
  }

  .home-team-logo {
    grid-area: h-logo;
  }

  .away-team-logo {
    grid-area: a-logo;
  }

  .add-match-date {
    grid-area: m-date;
  }

  .add-match-time {
    grid-area: m-time;
  }

  #update-fixture-form,
  #update-results-form {
    top: 100px;
  }

  #update-fixture-form .add-inputs,
  #update-results-form .add-inputs {
    display: grid;
    grid-template-areas: "h-score a-score";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    align-items: center;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {
  #body {
    grid-template-columns: 300px 1fr 1fr;
  }

  #sidebar {
    width: 300px;
  }

  .link {
    width: 300px;
  }

  .link a {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .link a p {
    margin-left: 20px;
    display: block;
  }

  .login-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-content .vector {
    display: unset;
    flex: 0.49;
    width: 50%;
  }

  .vector img {
    width: 100%;
  }

  .login-form {
    width: unset;
    height: unset;
    display: grid;
    flex: 0.49;
  }

  .confirm-delete-player .confirm-delete {
    width: 400px;
  }
}
